body {
  background: #ccc url('../img/photography.png') repeat;
  font-family: 'ZCOOL XiaoWei', serif;
}

/**************************************-Starts-Header-**************************************/

main, .divMainHeader {
  background: #ffffff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px 50px;
}

.divMainHeader > h1 {
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 2.8rem;
}

.divMainHeader ul {
  border-bottom: 1px solid #ecf0f1;
}

.divMainHeader > ul li {
  display: inline-block;
  margin: 0 55px;
  padding-bottom: 20px;
}

.divMainHeader ul li a {
  font-size: 20px;
  color: #7f8c8d;
}

.h3color {
  color: #f4ff81;
}

.navSearch {
  width: 32%;
}

#search,
#search:focus {
  background-color: #212121;
  color: #ffffff;
}

.divMainHeader>.slider>.indicators{
    display: none;
}
/**************************************-Ends-Header-**************************************/

/**************************************-Starts-Main-**************************************/
/**************************************-Ends-Main-**************************************/
/**************************************-Starts-Footer-**************************************/
/**************************************-Ends-Footer-**************************************/
