body {
  background: #ccc url('../img/photography.png') repeat;
  font-family: 'ZCOOL XiaoWei', serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/**************************************-Starts-Header-**************************************/

.divMainHeader {
  background: #ffffff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px 50px;
}

.divMainHeader > h1 {
  font-size: 90px;
  margin-top: 0;
  margin-bottom: 2.8rem;
}

.divMainHeader > ul {
  border-bottom: 1px solid #ecf0f1;
}

.divMainHeader > .row > ul li {
  display: inline-block;
  margin: 0 55px;
  padding-bottom: 20px;
}

.divMainHeader ul li a {
  font-size: 20px;
  color: #7f8c8d;
}

.h3color {
  color: #f4ff81;
}

.navSearch {
  width: 32%;
}

#search,
#search:focus {
  background-color: #212121;
  color: #ffffff;
}

.divMainHeader .slider > .indicators {
  display: none;
}
/**************************************-Ends-Header-**************************************/

/**************************************-Starts-Main-**************************************/
.h2size {
  font-size: 2rem;
}

.marginbottonzero {
  margin-bottom: 0 !important;
}

.paddingleftzero {
  padding-left: 0 !important;
}

.paddingzero {
  padding: 0 !important;
}
/**************************************-Ends-Main-**************************************/
/**************************************-Starts-Footer-**************************************/
/**************************************-Ends-Footer-**************************************/
